<!DOCTYPE html>
<html>

<head>
    <title>Email Template</title>
</head>

<body>
    <p>Dear <%= first_name %>
    </p>
    <p>After careful consideration of your leave request, I am pleased to inform you that your leave has been approved.
    </p>
    <p>You are permitted to take time off from <%= from_date %> to <%= to_date %> date.</p>
    <p>Please ensure that you have completed all pending tasks and assignments before your departure.</p>

</body>

</html>