<!DOCTYPE html>
<html>

<head>
    <title>Email Template</title>
</head>

<body>
    <p>Dear <%= first_name %>
    </p>
    <p>I hope this email finds you well.</p>

    <p>I am writing to inform you that your recent leave request for <%= from_date %> to <%= to_date %> has been
                carefully reviewed, and unfortunately, we are unable to grant your leave at this time.</p>

    <p>The decision to deny your leave request was based on the current workload and operational requirements of the
        team. We understand that taking time off is important for personal reasons or to attend to pressing matters.
        However, in this particular instance, your absence would significantly impact the progress and deliverables of
        ongoing projects.</p>

    <p>We apologize for any inconvenience this may cause you, and we appreciate your understanding in this matter. We
        encourage you to reschedule your leave for a more suitable time in the future, taking into consideration the
        team's workload and project timelines.</p>

    <p>If you have any urgent matters or concerns that need to be addressed during this period, please discuss them with
        your supervisor or team lead. They will provide guidance and support to ensure a smooth continuation of work in
        your absence.</p>

    <p>We value your contributions to the team and appreciate your commitment to your responsibilities. We are confident
        that you will continue to demonstrate your dedication in handling your tasks and meeting the team's objectives
        during this time.</p>

    <p>If you have any questions or require further clarification regarding this decision, please do not hesitate to
        reach
        out to me or the HR department.</p>

    <p>Thank you for your understanding.</p>


</body>

</html>